body{
    background-image: url("papel-de-parede-bola-de-futebol-infantil_1.jpg1");
    background-color: goldenrod;
}
.header{
    background-color: white;
    color:black;
    float:top;
    height:200px;
    margin: 0px 10px 0px 10px;
}
.content{
    background-color: gray;
    color:black;
    float:top;
    height: 550px;
    margin:0px 50px 0px 50px;
}
.logo{
    background-color: blue;
    height: 200px;
    width: 200px;
    float: left;
    border-radius:100%;
    margin-left:2px;
    border:1px solid black;
}
.logo img{
    height:200px;
    width:200px;
    border-radius:100%;
}
.Nome{
    float: left;
    height: 200px;
    width: 400px;
    background-color: white;
    text-align: center;
    margin-left: 100px;
}
.Nome h1{
    margin-top: 77px;
    font-size: 48px;
    color: #fff;
  -webkit-text-stroke: 3px #000; /* Largura e cor da borda para navegadores Webkit */
}
