body {
    background-image: url("papel-de-parede-bola-de-futebol-infantil_1.jpg");
    background-color: goldenrod;
    margin: 0;
    padding: 0;
    font-size: 100%; /* Base font size for mobile in percentage */
}

.header {
    background-color: white;
    color: black;
    padding: 2%; /* Add padding for spacing on mobile using percentage */
    text-align: center; /* Center align header content */
}

.content {
    background-image: url("campoFut.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    color: black;
    padding: 2%; /* Add padding for spacing on mobile using percentage */
    text-align: center; /* Center align content */
}

.logo {
    background-color: blue;
    border-radius: 50%; /* Use a percentage for rounded shape */
}

.logo img {
    max-width: 100%; /* Ensure the logo image is responsive */
    height: auto; /* Prevent image distortion */
    border-radius: 50%;
}

.Nome {
    background-color: white;
    text-align: center;
    padding: 5%; /* Add padding for spacing on mobile using percentage */
}

.Nome h1 {
    font-size: 150%; /* Adjust font size for mobile using percentage */
    margin-top: 2%; /* Adjust margin for mobile using percentage */
    color: #fff;
    -webkit-text-stroke: 1% #000; /* Adjust text stroke for mobile using percentage */
}
